
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="../Content/bootstrap.css" rel="stylesheet" />
</head>
<div ng-app="AccountsApp" ng-controller="InventoryController">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/Home/Index1">My Car Inventory</a>
            </div>
            <div class="navbar-collapse collapse" style="float:right">
                <ul class="nav navbar-nav">
                    <li><a href="~/Home/Index1">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
      App Error, Contact Admin! Sorry....
        <footer>
            <p>My Inventory Application</p>
        </footer>
    </div>
</div>

<link href="~/Content/bootstrap.css" rel="stylesheet" />
