
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="../Content/bootstrap.css" rel="stylesheet" />
</head>
<div ng-app="AccountsApp" ng-controller="AccountsController">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/Home/Index1">My Accounts</a>
            </div>
            <div class="navbar-collapse collapse" style="float:right">
                <ul class="nav navbar-nav">
                    <li><a href="~/Home/Index1">Home</a></li>
                    <li><a href="~/UserManagement/Index">Beneficiery Management</a></li>
                    <li style="float:right"><a href="javascript:void()" ng-click="UserSignOut()">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <h5> Welcome : {{userName}}</h5>
        <hr />
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h3>
                       User Material Distrubution
                    </h3>
                    <form novalidate ng-submit=""  role="form" class="form-inline" >
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Beneficiery Name</label>
                                    <input class="form-control" id="BnName" placeholder="Beni Name/Reference No" type="text" ng-model="beneficieryName">
                                    <button  class="btn btn-default" ng-click="GetBeneficiery(beneficieryName)">
                                        Validate
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Constituency Number</label>
                                    <input class="form-control" id="Constituency" placeholder="Constituency" type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Allotement No</label>
                                    <input class="form-control" id="exampleInputPassword1" placeholder="Allotement" type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Distance</label>
                                    <input class="form-control" id="distance" placeholder="distance" type="text">
                                </div>
                                </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Beneficiery Details</label>
                                    <p>{{userName}}</p>
                                </div>
                                </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">GPU</label>
                                    <input class="form-control" id="gpu" placeholder="GPU" type="text">
                                </div>
                            </div>

                            </div>
                            
                </form>
                                <p></p>
                        <div class="col-md-12" style="border: 1px solid; black;">
                            <div class="col-md-6">
                                <div class="col-md-12">
                                    <div class="col-md-3">SL.NO</div>
                                    <div class="col-md-3">Description</div>
                                    <div class="col-md-3">Unit</div>
                                    <div class="col-md-3" style="border: 2px solid; black;">
                                        <div class=" col-md-12">Quanitity</div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-xs-6">Prv. Month</div>
                                                <div class="col-xs-6">This. Month</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-12">
                                    <div class="col-md-3">Rate</div>
                                    <div class="col-md-3" style="border: 2px solid   black;">
                                        <div class=" col-md-12">Amount</div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-xs-6">Prv. Month</div>
                                                <div class="col-xs-6">This. Month</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">Name</div>
                                </div>
                            </div>
                        </div>
                        <!--loop starts-->
                        <hr />
                        <div>
                            <div id="mainRows" ng-repeat="rawMat in RawMaterials" class="col-md-12" style="border: 1px solid black;">
                                <div id="rowStarts">
                                    <div class="col-md-6">
                                        <div class="col-md-12">
                                            <div class="col-md-3">{{$index+1}}</div>
                                            <div class="col-md-3">{{rawMat.MaterialName}}</div>
                                            <div class="col-md-3"><input type="number" class="form-control" id="id1" placeholder="unit" ng-model="rawMat.Unit" /></div>
                                            <div class="col-md-3">
                                                <div class=" col-md-12"></div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="col-xs-6">
                                                            <input type="number" placeholder="" class="form-control1" id="id1" ng-model="" />
                                                        </div>
                                                        <div class="col-xs-6"><input type="number" placeholder="qty" class="form-control1" id="id1" ng-model="rawMat.Quantity" /></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-12">
                                            <div class="col-md-3"><input type="number" class="form-control" id="id1" placeholder="rate" ng-model="rawMat.Rate" /></div>
                                            <div class="col-md-3">
                                                <div class=" col-md-12"></div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="col-xs-6"></div>
                                                        <div class="col-xs-6">{{rawMat.Quantity*rawMat.Rate}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" placeholder="name" class="form-control" id="id1" ng-model="rawMat.Name" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
</div>
            </div>
        </div>
        <button type="submit" class="btn btn-default" ng-click="ProcessMatDistribution()">
            Submit
        </button>
    </div>
</div>

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/appJs/angular.min.js"></script>
<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.9.0.js"></script>

<script src="~/appJs/inventory.js"></script>
<script>


</script>
